body,html{
	height:100%;
	width:100%;
}
#sp-main{
	width:100%;
	height:100%;
	background:url(../img/bg2.jpg) no-repeat  center center;
	-webkit-background-size: cover;
	background-size: cover;
}
#sp-main .row{
	width:100%;
	height:100%;
}
#sp-main .row #sp-index{
	height:40%;
	background-color:#fff;
	border:3px solid #000;
}

#sp-main .row #sp-index	#sp-useradmin>a{
	font-size:12px;
	text-decoration: none;
}
#sp-main .row #sp-index	#sp-useradmin a:hover{
	text-decoration: none;
}
#sp-main .mybtn-group{
	margin-top:20px;
}

#sp-main .mybtn-group{
	margin-top:20px;
}

#sp-main .mybtn-group .btn{
	margin-bottom:20px;
	width:200px;
}